<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
            <i class="icon-layers"></i> Dashboard
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/files']">
            <i class="icon-briefcase"></i> Recent Files
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/contacts']">
            <i class="icon-people"></i> Contacts
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/music']">
            <i class="icon-music-tone"></i> Music
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/video']">
            <i class="icon-film"></i> Video
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/camera']">
            <i class="icon-camera"></i> Camera
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/chat']">
            <i class="icon-speech"></i> Chat
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/wallet']">
            <i class="icon-wallet"></i> Wallet (Top up)
          </a>
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/settings']">
            <i class="icon-settings"></i> Settings
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <main class="">
    <div class="animated fadeIn container" >

      <!--


            BUILT IN TORRENT CLIENT

            STILL HAVE TO FIGURE OUT HOW IT'S GOING TO BE USED WITH IPFS.


      -->


      <div class="row">

        <div class="col-sm-12">

          <div class="card">
            Torrent client
          </div>


        </div>


      </div>


    </div>
  </main>
</div>
