<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
</header>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active"><a href="#">VR</a></li>
</ol>

<div class="app-body">
  <div class="sidebar">
    <app-sidebar active="photos"></app-sidebar>
  </div>
  <main style="width: 100%">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>
            AFRAME VR COMING SOON - MAVIGATING FILES AND PERFORMING IOT TRANSACTIONS OVER BLUETOOTH ETC.
          </p>
        </div>
      </div>
    </div>
  </main>
</div>






