i, h1, h2, button, p {
  color: #fff;
}

i {
  margin-top: 60px;
}

body {
  background: url('https://media.coindesk.com/uploads/2017/08/Blockstream_Satellite_Image.png');
}

button {
  margin-top: 25px;
}
