.results video {
  width: 100% !important;
}

.content {
  text-align: center;
}

.search-button-container {
  text-align: center;
}

.btn-search-torrents {
  width:100%;
}

button i {
  font-size: 16px;
}

.results {
  min-height: 200px;
  margin-bottom: 80px;
  margin-top: 80px;
  padding: 20px;
}


